* {
    font-family: '宋体';
    box-sizing: border-box;
    /* border: 1px solid red; */
}

p {
    margin: 0;
    font-size: 0.7rem;
}

.center {
    text-align: center !important;
    text-indent: 0;
}

hr {
    border: none;
    border-top: 1px solid #8c8b8b;
    margin: 0;
    padding: 0;
}

/*
.makertitle {
    font-size: 1.3em;
    text-align: center !important;
    text-indent: 0;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.8em
}

.infobox p {
    text-indent: 0;
    line-height: 1.1;
    margin: 0;
    padding-left: 3%;
    padding-right: 3%
}

.infobox p.top {
    border-top: 1px solid #333;
    padding-top: 0.2em
}

.infobox p.bottom {
    border-bottom: 1px solid #333;
    padding-bottom: 0.2em
} */