@font-face {
    font-family: 'simsun';
    src: url("./fonts/simsun.ttf");
}

* {
    font-family: 'simsun';
    color: #312819;
}

body.chapter {
    margin: 30px;
}

.center {
    text-align: center !important;
    text-indent: 0;
}

p {
    font-size: 0.7rem;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    margin-top: 1em;
    margin-bottom: 1.2em;
}

hr {
    border: none;
    border-top: 1px solid #8c8b8b;
    margin: 0;
    padding: 0;
}