* {
    font-family: 'simsun';
    box-sizing: border-box;
    /* border: 1px solid red; */
}

p {
    margin: 0;
    font-size: 0.7rem;
}

.center {
    text-align: center !important;
    text-indent: 0;
}

hr {
    border: none;
    border-top: 1px solid #8c8b8b;
    margin: 0;
    padding: 0;
}